body {
    padding-top: 56px; /* Adjusted for fixed navbar */
}

.navbar {
    background-color: rgb(100, 25, 31);
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.hero-section {
    position: relative;
    height: 400px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(100, 25, 31);
    color: #f8f3f3;
    text-align: left;
    padding: 20px;
    overflow: hidden;
}

.hero-text {
    width: 50%;
    max-width: 600px; /* Adjust the maximum width of the text */
    margin-bottom: 10px; /* Added margin to separate text from the image on smaller screens */
    padding: 10px; /* Add padding to the text */
    margin: 70px;
}

.hero-text h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0; /* Gives that scrolling effect as the typing happens */
    text-align: justify; /* Justify the text */
    text-align-last: justify; /* Justify the last line as well */
    animation: typing 3.5s steps(40, end) infinite, blink-caret 0.75s step-end infinite;
}

.hero-image {
    width: 100%;
    max-width: 400px; /* Set the maximum width to 400px */
    height: auto;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    padding: 10px; /* Add padding to the image */
    margin: 90px;
    box-shadow: 0 20px 20px rgba(17, 16, 16, 0.815); /* Add box shadow */
}

.hero-image img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

@media (max-width: 576px) {
    .hero-section {
        flex-direction: column-reverse; /* Reverse the order for smaller screens */
        height: auto;
    }

    .hero-text,
    .hero-image {
        width: 100%;
    }

    .hero-text {
        text-align: center;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 39%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    40.1% {
        border-color: #fff;
    }
}

.card {
    width: 290px;
    height: 360px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    margin-left: 15px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.card1 {
    width: 290px;
    height: 150px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.card__content {
    background: rgb(5, 6, 45);
    border-radius: 17px;
    width: 100%;
    height: 100%;
}